<div class= "container">
  <h1 style="text-align: center">Welcome {{user.username}} {{user.id}}</h1>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-5">

      </div>
      <div class="col-md-10">
        <table>
          <tr>
            <th>
             Project Name
            </th>
            <th>
            Tipologia
            </th>
          <tr>
            <td>
              <input placeholder="project" [(ngModel)]="projecttoinsert.project">
            </td>
            <td>
              <input placeholder="tipologia" [(ngModel)]="projecttoinsert.tipologie">
            </td>
            <td>
              <button (click)="insert(projecttoinsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>

            </td>
          </tr>
          <tr *ngFor="let project of projects">
            <td>
              <input [(ngModel)]="project.project">
            </td>
            <td>
              <input [(ngModel)]="project.tipologie">
            </td>
            <td>
              <button (click)=update(project)>Save</button>
            </td>
            <td>
              <button (click)="delete(project)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-1">

      </div>
    </div>
  </div>
</div>
