<div class="row mt-5">
  <div class="col-md-5">
    <div>
      <div class="col-md-10">
        <table>
          <tr>
            <th>
              Nome Project
            </th>
            <th>
              Tipologia
            </th>
            <th>
              User
            </th>
          </tr>
          <td>
            <input placeholder="project" [(ngModel)]="projecttoinsert.project">
          </td>
          <td>
            <input placeholder="tipologia" [(ngModel)]="projecttoinsert.tipologie">
          </td>
        </table>
      </div>
    </div>
  </div>
</div>
