<div class= "container">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-5">

      </div>

      <div class="table-responsive">
        <table>
          <tr>
            <th>
              Project Name
            </th>
            <th>
              Tipologia
            </th>
            <th>
              Operazioni
            </th>
          <tr>
            <td>
              <input placeholder="project" [(ngModel)]="projecttoinsert.project">
            </td>
            <td>
              <input placeholder="tipologia" [(ngModel)]="projecttoinsert.tipologie">
            </td>
            <div class="btn-group">
              <button type="button" class="btn btn-primary" (click)="insert(projecttoinsert)">Insert</button>
              <button type="button" class="btn btn-primary"(click)="clear()">Clear</button>
            </div>

          </tr>
          <tr *ngFor="let project of projects">
            <td>
              <input [(ngModel)]="project.project">
            </td>
            <td>
              <input [(ngModel)]="project.tipologie">
            </td>
            <div class="btn-group">
              <button type="button" class="btn btn-primary" (click)=update(project)>Save</button>
              <button type="button" class="btn btn-primary"(click)="delete(project)" >Delete</button>
            </div>
          </tr>
        </table>
      </div>
      <div class="col-md-1">

      </div>
    </div>
  </div>
</div>
